<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Stride" value="https://packages.stride3d.net/nuget" />
    <add key="vvvv-public-feed" value="https://teamcity.vvvv.org/guestAuth/app/nuget/v1/FeedService.svc/" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>


